<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2-js7-operatoren</title>
    <script>
        let a = '1';
        let b = 1;
        console.log("Ist " + a + " gleich "  + "\'" + b + "' ?");
        let r1 = a==b;
        console.log("Mit == ist das Resultat: " + r1);
        let r2 = a===b;
        console.log("Mit === ist das Resultat: " + r2);

        console.log("Modulo");
        let r3 = 10%3;
        console.log("10 % 3 = " + r3);

        let r4 = 3;
        console.log("Zahl " + r4 + " inkrementieren");
        console.log("Zahl nach inkrementieren: " + ++r4);

    </script>
</head>
<body>

</body>
</html>
