<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strings</title>
</head>
<script>
    "use strict";

    let s = "DBWT2 ist toll ";
    let s2 = "!";
    console.log("String ist: " + s);
    console.log("Länge von Strings ist: " + s.length);
    console.log("Index von dem Buchstaben D ist: " + s.indexOf("D"));
    console.log("Letzter Index von dem Buchstaben l ist: " + s.lastIndexOf("l"));
    console.log("Die ersten 3 Buchstaben von Zeichenkette: " + s.substr(0,3));
    console.log("Ersetze D mit A: " + s.replace("D", "A"));
    console.log("Alle Spaces vor und nach String wurden entfernt: " + s.trim());
    console.log("String wurde mit sich selber angehängt: "+ s.concat(s));
    console.log("String alles kleingeschrieben: " +s.toLowerCase());
    console.log("String alles großgeschrieben: "+s.toUpperCase());

</script>
<body>

</body>
</html>
