<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4-vue8-component</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <button-counter></button-counter>
</div>

<script>
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 1
            }
        },
        template: `
            <div>
            <button v-on:click="count++">Zähler inc</button>
            <button v-on:click="count--">Zähler dec</button>
            Zähler: {{ count }}
            </div>
            `
    })

    let vue = new Vue({ el: '#app' })
</script>


</body>
</html>
