<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4-vue8-component</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="components-demo">
    <button-counter></button-counter>
</div>

<script>

    // Define a new component called button-counter
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 1
            }
        },
       // template: '<button v-on:click="count++">Zähler {{ count }}</button>'
        template: `
            <div>
            <button v-on:click="count++">Zähler inc</button>
            <button v-on:click="count--">Zähler dec</button>
            <button>Zähler {{ count }}</button>
            </div>
            `
    })

    let vue = new Vue({ el: '#components-demo' })
</script>


</body>
</html>
