<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
    {{message }}
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        },
        created() {
            var socket = new WebSocket('ws://localhost:8000/demo');
            let self = this; // this in Funktion würde auf Funktion zeigen
            socket.onmessage = function(event){
                var jsonObject = JSON.parse(event.data);
                var json = JSON.parse(jsonObject.data);

                // console.log(json.age);
                if (json.id == 1){
                    self.message =  json.message;
                }
            }
        }
    })


</script>

</body>
</html>
